{
    "extends": ["standard", "plugin:react/recommended"],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "arrowFunctions": true,
            "classes": true
        }
    },
    "rules": {
        "comma-dangle": ["error", "always-multiline"],
        "indent": ["error", 4]
    },
    "env": {
        "browser": true,
        "node": true
    }
}
